@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@font-face {
    font-family: 'FreeStyle Script';
    src: url('fonts/10036.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}